<a href="https://colab.research.google.com/github/android-kunjapppan/Python-Data-Structures/blob/master/3_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

* Sequence of immutable Python objects
* Tuples cannot be changed unlike lists
* Comma-seperated values between parentheses

In [22]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

print("tup1:", tup1)

# empty Tuple
emp = ()

# Tuple with a single should have a comma after the element
single = (50,)
print(single)

tup1: ('physics', 'chemistry', 1997, 2000)
(50,)

In [23]:
# Accessing values in tuples
print("tup1[0]: ", tup1[0])
print("tup2[1:5]", tup2[1:5])

tup1[0]:  physics
tup2[1:5] (2, 3, 4, 5)

In [ ]:
# Updating Tuples 

# Tuples are immutable means you cannot update or change the values
# So, the following action is not valid for tuples
# tup1[1]=100

In [26]:
# We can take portions of tuples and create a new tuples 
tup4 = tup1+ tup2
print(tup4)

('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5)

In [27]:
# Delete Tuple Elements
# Removing individual elements in a tuple is not possible
# We can remove an entire tuple by using del statement
del tup1

# Basic Tuple Operations

In [28]:
# Length
print('length',len(tup2))

# Concatenation
print(tup2+tup3)

# Repetetion
tup5 = ['HI']
print(tup5*4)

# Membership
print(3 in tup2) # returns true if 3 is present in list2

# Iteration (prints all the elements in the list)
for x in tup2: 
  print(x)

length 5
(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd')
['HI', 'HI', 'HI', 'HI']
True
1
2
3
4
5