<a href="https://colab.research.google.com/github/android-kunjapppan/Python-Data-Structures/blob/master/5_2D_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2D Array

* Array within an Array | Array of Arrays
* Position of elements is referred by two indices instead of one
* represents a table with rows and cols of data

In [41]:
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

# Accessing Values in a 2D Array
* can be accessed using two indices.
* One - > Parent Array
* Two - > referrring the position of the data element in the inner array.
* If we mention only one index entire inner array will be printed

In [42]:
# printing the entire inner array
print('T[0]:', T[0])

# printing the element in the inner array
print('T[1][2]',T[1][2])

T[0]: [11, 12, 5, 2]
T[1][2] 10

In [44]:
# To Print the entire 2D array we can use for loop
# Use end o line to print out values in different rows

for row in T:
  for col in row:
    print(col,end=" ")
  print() # To print inner arrays in seperate lines

11 12 5 2
15 6 10
10 8 12 5
12 15 8 6

# Deleting the values in Array

In [45]:
# To delete the entire inner array
del T[3]

# To delete a particular element in the inside array
del T[2][1]

for row in T:
  for col in row:
    print(col, end=" ")
  print()

11 12 5 2
15 6 10
10 12 5