<a href="https://colab.research.google.com/github/android-kunjapppan/Python-Data-Structures/blob/master/6_Matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Matrix
* special case of 2D array where each data element is of strictly of same size.
* So, every matrix is a 2D array but not vice versa.
* we can also 'NumPy' package for matrix data manipulation

In [54]:
from numpy import *

a = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
		   ['Wed',15,21,20,19],['Thu',11,20,22,21],
		   ['Fri',18,17,23,22],['Sat',12,22,20,18],
		   ['Sun',13,15,19,16]])

m = reshape(a,(7,5))
print(m.shape)
print(m)

(7, 5)
[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

In [55]:
# Accessing values in a matrix (same as 2D array)

print(m[2])

print(m[4][3])

['Wed' '15' '21' '20' '19']
23

In [56]:
# Adding a ROW using append statement
# numpy.append(arr, values, axis) axis= 0->row, 1->col
m_r = append(m,[['Avg',12,15,13,11]],0)

print(m_r)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']
 ['Avg' '12' '15' '13' '11']]

In [58]:
# Adding a COLUMN usong INSERT statement
# numpy.insert(arr, index, values, axis)

m_c = insert(m,[3],[[1],[2],[3],[4],[5],[6],[7]],1)
print(m_c)

[['Mon' '18' '20' '1' '22' '17']
 ['Tue' '11' '18' '2' '21' '18']
 ['Wed' '15' '21' '3' '20' '19']
 ['Thu' '11' '20' '4' '22' '21']
 ['Fri' '18' '17' '5' '23' '22']
 ['Sat' '12' '22' '6' '20' '18']
 ['Sun' '13' '15' '7' '19' '16']]

In [59]:
# Delete a row form a Matrix

m = delete(m,[2],0) # will delete entire row in the index 2
print(m)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

In [60]:
# Delete a column from a matrix

m = delete(m,[2],1)
print(m)

[['Mon' '18' '22' '17']
 ['Tue' '11' '21' '18']
 ['Thu' '11' '22' '21']
 ['Fri' '18' '23' '22']
 ['Sat' '12' '20' '18']
 ['Sun' '13' '19' '16']]

In [62]:
# update a row in a matrix

m[3] = ['Thurs',0,0,0]
print(m)

[['Mon' '18' '22' '17']
 ['Tue' '11' '21' '18']
 ['Thu' '11' '22' '21']
 ['Thu' '0' '0' '0']
 ['Sat' '12' '20' '18']
 ['Sun' '13' '19' '16']]