<a href="https://colab.research.google.com/github/android-kunjapppan/Python-Data-Structures/blob/master/7_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets
 * Mathematically, set is a collection of items not in any particular order
 * The elements in the set will have no duplicates
 * The elements in the set are not mutable, whereas the SET as a whole is mutable
 * No index is attached to any element
 * Created using set() or placing the elements with in pair of curly braces


# Set Operations
* Used for mathematical operations like Union, INtersection, Difference, Complement etc.,

In [1]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}

# Note that the order of the elements has changed
print(Days)
print(Months)
print(Dates)

{'Mon', 'Wed', 'Sun', 'Tue', 'Sat', 'Thu', 'Fri'}
{'Mar', 'Feb', 'Jan'}
{17, 21, 22}

# Accessing Values in a set
* Cannot access individual elements values in a set. We can only access alll the elements together

In [2]:
# Looping through the set
for d in Days:
  print(d)

Mon
Wed
Sun
Tue
Sat
Thu
Fri

In [4]:
# Adding items to a Set using add() method
Days.add('Sun')
print(Days)

{'Mon', 'Wed', 'Sun', 'Tue', 'Sat', 'Thu', 'Fri'}

In [5]:
# Removing item from a Set using discard() method
Days.discard('Sun')

print(Days)

{'Mon', 'Wed', 'Tue', 'Sat', 'Thu', 'Fri'}

In [6]:
# Union of Sets using | operator, which produces a new set containing all the distinct elements
Union = Days | Months
print(Union)

{'Mon', 'Wed', 'Mar', 'Jan', 'Tue', 'Sat', 'Thu', 'Fri', 'Feb'}

In [7]:
# Intersection of Sets using & operator, which gives common elements
Days2= {'Sun','Mon'}
Intersect = Days&Days2

print(Intersect)

{'Mon'}

In [8]:
# Difference of Sets using - operator, which gives a new set containing only the elements from the first set and none from the second set.
Diff= Days-Days2

print(Diff)

{'Wed', 'Tue', 'Sat', 'Thu', 'Fri'}

In [10]:
# Compare Sets, checks if the given set is a subset or superset of another set.
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])

print(DaysA <= DaysB)
print(DaysA >= DaysB)

True
False